steam_appid.txt

content/dota_addons/*
content/_toolsautosave/*
content/core/*
content/dota/*
content/dota_addons/*

game/_toolsettings/*
game/bin/*
game/core/*
game/dota/*
game/dota/*
game/dota_addons/*
game/dota_koreana/*
game/dota_lv/*
game/dota_russian/*
game/dota_schinese/*
game/thirdpartylegalnotices.txt

*.bin
*.cfg
*.soc
*.tmp

*.vmat_c
*.vagrp_c
*.vmesh_c
*.vanim_c

# working directories we want to keep synced:
!/game/dota_addons/poelsemix/**/*.txt
!/game/dota_addons/poelsemix/**/*.lua
!/content/dota_addons/poelsemix/**/*.obj
!/content/dota_addons/poelsemix/**/*.png
!/content/dota_addons/poelsemix/**/*.psd




